@model RCL_Inventory.Models.Transaction

@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="//cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="~/css/sitee.css" />
<link rel="stylesheet" href="~/css/category.css" />
<link rel="stylesheet" href="~/css/product.css" />

<hr />
<h2 class="title">Transaction Details</h2>
<hr />

<div>
    <div class="card mt-3">
        <div class="card-header font-weight-bolder d-flex justify-content-center pr-5 bg-blue text-white"> Transaction Type</div>
        <div class="card-body d-flex justify-content-center pl-5">
            <h5 class="col-sm-2">
                @Html.DisplayFor(model => model.TransactionType.Name)
            </h5>
        </div>
    </div>
</div>


<div class="card mt-3">
    <div class="card-header font-weight-bolder text-white d-flex  bg-blue justify-content-center"> Transaction Information</div>
    <div class="card-body">
        <div class="card-body row">
            <div class="form-group col-md">
                <label>
                    @Html.DisplayNameFor(model => model.Date)
                </label>
                <input class="form-control" disabled value="@Html.DisplayFor(model => model.Date)" />
            </div>

            <div class="form-group col-md">
                <label>
                    @Html.DisplayNameFor(model => model.Quantity)
                </label>
                <input class="form-control" disabled value="@Html.DisplayFor(model => model.Quantity)" />
            </div>
        </div>
    </div>
</div>

<div class="card mt-3">
    <div class="card-header font-weight-bolder text-white d-flex  bg-blue justify-content-center"> Product Information</div>
    <div class="card-body">
        <div class="card-body row">
            <div class="form-group col-md">
                <label>
                    @Html.DisplayNameFor(model => model.Product.Category.Name)
                </label>
                <input class="form-control" disabled value="@Html.DisplayFor(model => model.Product.Category.Name)" />
            </div>

            <div class="form-group col-md">
                <label>
                    @Html.DisplayNameFor(model => model.Product.Name)
                </label>
                <input class="form-control" disabled value="@Html.DisplayFor(model => model.Product.Name)" />
            </div>
            <div class="form-group col-md">
                <label>
                    @Html.DisplayNameFor(model => model.Product.Brand)
                </label>
                <input class="form-control" disabled value="@Html.DisplayFor(model => model.Product.Brand)" />
            </div>
        </div>
        <div class="form-group col-md">
            <label>
                @Html.DisplayNameFor(model => model.Product.Description)
            </label>
            <input class="form-control" disabled value="@Html.DisplayFor(model => model.Product.Description)" />
        </div>

    </div>
</div>

<div class="card mt-3">
    <div class="card-header font-weight-bolder text-white d-flex  bg-blue justify-content-center"> Supplier Information</div>
    <div class="card-body">


        <div class="card-body row">
            <div class="col-md">

                <div class="form-group col-md">
                    <label>@Html.DisplayNameFor(model => model.Supplier.SupplierId)</label>
                    <input class="form-control" disabled value="@Html.DisplayFor(model => model.SupplierId)" />
                </div>
                <div class="form-group col-md">
                    <label>@Html.DisplayNameFor(model => model.Supplier.Telephone) </label>
                    <input class="form-control" disabled value="@Html.DisplayFor(model => model.Supplier.Telephone)" />
                </div>

            </div>

            <div class="col-md">
                <div class="form-group col-md">
                    <label>@Html.DisplayNameFor(model => model.Supplier.Name)</label>
                    <input class="form-control" disabled value="@Html.DisplayFor(model => model.Supplier.Name)" />
                </div>


                <div class="form-group col-md">
                    <label> @Html.DisplayNameFor(model => model.Supplier.AccountNumber) </label>
                    <input class="form-control" disabled value="@Html.DisplayFor(model => model.Supplier.AccountNumber)" />
                </div>
            </div>
        </div>
    </div>
</div>


<div class="d-flex justify-content-center mt-2">
    <div class="mr-2">
        <a asp-action="Edit" asp-route-id="@Model.TransactionId" input type="submit" class="btn btn-primary mr-2" style="font-size:20px">Edit</a>|
    </div>
    <div class="ml-2 d-flex btn btn-secondary justify-content-center">
        <a asp-action="Index" style="font-size:20px; color:white;"> Back</a>
    </div>
</div>
